.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
}

.search-input {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 50px 0 0 50px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
    outline: none;
    border-color: #3700ff;
    box-shadow: 0 0 8px #3700ff;
}

.search-button {
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #3700ff;
    color: #fff;
    border: 2px solid #3700ff;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
    background-color: #653aff;
    border-color: #653aff;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.course-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 30px); /* Responsivo: 3 tarjetas por fila */
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.course-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.course-card p {
    margin: 8px 0;
    font-size: 0.95rem;
    color: #555;
}

.course-card .price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #20b358;
    text-align: center;
    margin-bottom: 12px;
}

.course-card .category {
    margin-top: 8px;
    color: #007bff;
    font-weight: 500;
    text-align: center;
    font-style: italic;
}

.course-card .enroll-button {
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #744ffc;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.course-card .enroll-button:hover {
    background-color: #9068ff;
}

@media (max-width: 768px) {
    .course-card {
        width: calc(50% - 30px); /* 2 tarjetas por fila */
    }
}

@media (max-width: 480px) {
    .course-card {
        width: 100%; /* 1 tarjeta por fila */
    }
}
